---
import { Card, CardGrid } from "@astrojs/starlight/components";

import { getCollection } from "astro:content";

const guides = await getCollection("docs", (e) => e.slug.includes("guides"));
---

<CardGrid>
  {
    guides.map((guide) => (
      <a href={`/${guide.slug}`}>
        <Card title={guide.data.title} icon="open-book" />
      </a>
    ))
  }
</CardGrid>
