---
import { Icon } from "@astrojs/starlight/components";
---

<div class="recommmendation-status">
  <Icon
    name="approve-check"
    color="yellow"
    label="Suggested"
    class="heading-icon"
  /> Suggested
</div>
